

<div class="text-center mt-5"><h3>User list</h3></div>
<div class="mt-5 container" >
  <table class="table ">
    <thead>
    <tr>

      <th scope="col">email {{articles$}}</th>
      <th scope="col">first Name</th>
      <th scope="col">last Name</th>
    </tr>
    </thead>
    <tbody>
    <tr  *ngFor="let user of users; ">
      <th scope="row">{{user.email}}</th>
      <th scope="row">{{user.username}}</th>
      <th scope="row">{{user.name}}</th>

    </tr>
    </tbody>
  </table>
</div>
